.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 80px;
  gap: 70px;
}

.txtprincipal {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 32px;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  padding: 20px;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ea7f43, #af0000);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  width: 80px;
  text-align: right;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
}

.txtlista p {
  font-family: "Fira Sans";
  font-size: 0.875rem;
  line-height: 1.4;
  color:#525252;
}

.txtlista {
  grid-column: 1;
}

.txtlista h3 {
  margin-bottom: 10px;
  font-family: "bitter";
  font-style: regular;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4;
}

.menuexp {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  align-content: start;
}

.menuexp li {
  padding: 5px 10px;
  background: #fff;
  border-radius: 4px;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.4;
}

.lista-menu p {
  font-family: "bitter";
  font-style: bold;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.1;
  text-align: start;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
    margin-top: 40px;
  }
  .experiencia p {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
  }
}
